<%- include("../partials/header") %>

<%-// include("../components/main.ejs") %>

<!-- <div class="twitter_main">
    <div class="menu">
        <%-// include("../components/home_menu") %>
        <%-// include("../components/user_menu") %>
    </div>

    <div class="page">
        <%-// include("../components/feed/main") %>
    </div>

    <div class="recomendations">
        <%-// include("../components/recomendations/main") %> 
    </div>
</div> -->

<%- include("../components/main/start-main") %>
<%- include("../components/feed/main") %> <!-- Muda apenas o componente de página -->>
<%- include("../components/main/end-main") %>


<%- include("../partials/footer") %>